k.tt
.DS_Store
dist
instagram_download.egg-info
build
instagram_download/session
*/__pycache__/*
*/session/*
dgtle_download/dgtle_download/canon3344/*
dgtle_download/dgtle_download/pics/*
dgtle_download/dgtle_download/24-\350\210\252/
